Imports

In [168]:
import pandas as pd

file_name = 'voip.csv'

In [169]:
data = pd.read_csv(file_name)
terminais = data['Terminal'].tolist()
print(terminais)

[429.0, 15322.0, 14092.0, 13879.0, 11119.0, 15421.0, 12434.0, 5665.0, 15424.0, 6279.0, 16048.0, 16177.0, 16254.0, 5.0, 16303.0, 16297.0, 16345.0, 16353.0, 16358.0, 16411.0, 16436.0, 16441.0, 13017.0, 16637.0, 16635.0, 16916.0, 10850.0, 17248.0, 6292.0, 17228.0, 17279.0, 13701.0, 14639.0, 14733.0, 17350.0, 17637.0, 17392.0, 15763.0, 17476.0, 17371.0, 15977.0, 13041.0, 17560.0, 17587.0]

In [170]:
def get_number(code):
    if data["Unnamed: 0"].bool:
        data.pop("Unnamed: 0")
    else:pass
    if code in terminais:    
        return data.query(f'Terminal=={code}').dropna(axis=1)
    else: return 'Terminal Não cadastrado'
    
get_number(429)

   DDD     Número  Terminal      Senha Data Da Ativação
0   31  294220644     429.0  hdtXSlpsW       14/06/2021

In [171]:
def update_pass(code,newpass):

    if code in terminais:
        data.loc[data['Terminal']== code, 'Senha'] = newpass
        return data.query(f'Terminal=={code}').dropna(axis=1)
    else: return 'Terminal não cadastrado'
    
update_pass(429,'48329sldismkMXLkx')

   DDD     Número  Terminal              Senha Data Da Ativação
0   31  294220644     429.0  48329sldismkMXLkx       14/06/2021

In [172]:
data.to_csv(file_name)